body{
    font-size: 18px;
}
p{
    color: blueviolet;
}
p.text{
    color: cornflowerblue;
    font-size: 2em;
}
.text-parnert{
    font-size: 3em;
}
p.child-text{
    font-size: 2em;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: justify;
}
a{
    color: black;
    text-decoration: none;
}
a.button-readmore{
    color: crimson;
    /* Tạo khoảng hở giữa chữ và background */
    background-color: forestgreen;
    padding: 15px 25px 15px 25px;
    /* Tạo đường viền border */
    border: 2px double peru;
    /* Border radius */
    border-radius: 10px 25px 10px 25px;
}