table{
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid aquamarine;
}
table th,
table td{
    padding: 0.5em;

}
table .center{
    text-align: center;
}
/* Hover vào hàng */
table tbody tr:hover{
    background-color: darkslateblue;
    color: darkgray;
}
table tbody td:hover{
    background-color: darksalmon;
    color: gold;
}