.my-container {
  height: 640px;
  background-color: rgb(245, 245, 245);
}
a:hover {
  text-decoration: none;
}
.fix-border {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid green;
  background-color: rgb(245, 245, 245);
  color: green;
}
