.my-container {
  height: 640px;
  background-color: rgb(245, 245, 245);
}
a:hover {
  text-decoration: none;
  color: #a0dabe;
}
.fix-border {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #a0dabe;
}
a {
  background-color: #f5f5f5;
  color: #a0dabe;
}
