#hearder {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-left: 500px;
  font-size: large;
  font-weight: bold;
}
#THPT {
  color: tomato;
}

.mybutton {
  color: tomato;
  border: 2px solid tomato;
}

.tieudetable {
  text-align: center;
}
#searchsinhvien {
  width: 780px;
  margin-left: -40px;
}
.labelsearch {
  font-weight: bold;
}
#result-data {
  text-align: center;
}
