.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 720px;
  background-color: rgb(198, 241, 241);
  position: relative;
}
.body {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  background-color: chartreuse;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.up.left {
  margin: auto 0;
  width: 50%;
  height: 35%;
  background-color: chocolate;
}
.up.right {
  margin: auto 0;
  width: 45%;
  height: 35%;
  background-color: coral;
}
.down.left {
  margin: auto 0;
  width: 50%;
  height: 40%;
  background-color: cornflowerblue;
}
.down.right {
  margin: auto 0;
  width: 45%;
  height: 40%;
  background-color: cornsilk;
}
.date {
  width: 20%;
  height: 100%;
}
.content {
  width: 80%;
  height: 100%;
}
