.wrapper {
  margin: auto 0;
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.header.img {
  margin: auto -15px;
  align-items: stretch;
}
.header.img img {
  width: 10%;
  height: 100%;
}
.header.content {
  flex-wrap: wrap;
  text-transform: uppercase;
}
.header.content.p1 {
  font-family: monospace;
  margin: auto 0;
  font-size: 45px;
  justify-content: right;
}
.header.content.p2 {
  font-family: monospace;
  margin: auto 0;
  font-size: 25px;
  justify-content: right;
}
