.wrapper {
  margin: 0 auto;
  width: 80%;
  height: 360px;
  background-color: rgb(231, 148, 40);
  display: flex;
  justify-content: space-around;
}
.about {
  margin: 0 auto;
  width: 22%;
  height: 100%;
}
.title {
  margin: 20px auto;
  width: 100%;
  height: 5%;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, monospace;
}
.title h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.text {
  width: 100%;
  height: 90%;
  font-family: Arial, monospace;
}
.text p {
  width: 100%;
  height: 100%;
  color: white;
  text-align: justify;
}
.plans {
  margin: 0 auto;
  width: 22%;
  height: 100%;
}
.get {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}
.row {
  margin: 0 auto 2em;
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row .left {
  width: 48%;
  height: 100%;
}
.row .right {
  width: 48%;
  height: 100%;
}
.form {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
}
.row-text {
  margin: 0 auto 0.75em;
  width: 100%;
}
.text-area {
  margin: 0 auto;
  width: 100%;
}
.text-area textarea {
  width: 100%;
  padding: 10px 5px;
}
.sub {
  width: 30%;
  height: 10%;
  background-color: rgb(22, 21, 21);
  color: white;
  text-decoration: none;
}
