.wrapper {
  margin: 0 auto;
  width: 80%;
  height: 540px;
  background-color: rgb(231, 148, 40);
  display: flex;
}
.about {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  background-color: cornflowerblue;
}
.title {
  margin: 10px auto;
  width: 100%;
  height: 5%;
  background-color: darkblue;
  color: white;
  text-transform: uppercase;
}
.title h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.plans {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  background-color: cornsilk;
}
.get {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: cyan;
}
