.row-title {
  height: 20%;
}
.row-title h1,
p {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(114, 114, 114);
}
.row-title h1 {
  font-weight: bolder;
}
.row-card {
  margin: 0 auto;
  width: 95%;
  height: 75%;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
.icon-color {
  color: rgb(114, 114, 114);
}
.onetake {
  width: 200px;
  height: 180px;
}
