.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 720px;
  background-color: rgb(243, 240, 240);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news {
  width: 31%;
  height: 100%;
  /* background-color: darkkhaki; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome {
  width: 31%;
  height: 100%;
  /* background-color: darkmagenta; */
}
.agent {
  width: 31%;
  height: 100%;
  background-color: darkolivegreen;
}
.title {
  margin: 10px auto;
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title .note {
  width: 50%;
  height: 100%;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.title .more {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.more a {
  text-decoration: none;
  color: rgb(84, 84, 250);
}
.content {
  width: 100%;
  height: 27%;
  /* background-color: cornsilk; */
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 20%;
  height: 60%;
  background-color: burlywood;
}
.text {
  width: 75%;
  height: 60%;
}
.image img {
  width: 100%;
  height: 100%;
}
.text h4 {
  margin: 0 auto;
  padding: 5px 0 10px;
  font-family: Arial, Helvetica, monospace;
}
.text span {
  margin: 0 auto;
  padding: 5px 0;
  opacity: 0.75;
}
.text p {
  margin: 0 auto;
  padding: 15px 0;
}
.text a {
  text-decoration: none;
  color: rgb(84, 84, 250);
}
.main {
  width: 100%;
  height: 80%;
}
.main img {
  width: 100%;
  height: 60%;
  border: 5px solid white;
  box-sizing: border-box;
}
