.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 720px;
  background-color: rgb(198, 241, 241);
  position: relative;
}
.body {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  background-color: chartreuse;
  position: absolute;
}
.body .up {
  width: 100%;
  height: 35%;
  background-color: chocolate;
  position: relative;
}
