.main-area {
  margin: 0 auto;
  width: 80%;
  height: 460px;
  background-color: greenyellow;
  position: relative;
}
.main-area .slide {
  width: 100%;
  height: 100%;
  background-color: grey;
}
.slide .pic {
  width: 100%;
  height: 100%;
  background-color: hotpink;
}
.slide .content {
  width: 70%;
  height: 100%;
  background-color: indianred;
}
.main-area ul {
  width: 15%;
  height: 100%;
  background-color: indigo;
}
