.wrapper {
  margin: auto 0;
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header.img {
  width: 10%;
  height: 80%;
  margin: auto -28px;
}
.img {
  width: 100%;
  height: 100%;
}
.header.content {
  width: 90%;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: right;
  font-family: monospace;
  font-weight: lighter;
  color: #2d3c49;
}
p.p1 {
  font-size: 45px;
  margin: auto 0;
}
p.p2 {
  font-size: 25px;
  margin: auto 0;
}
.line {
  margin: auto 0;
  width: 100%;
  height: 5px;
  background-color: #7d97ad;
}
