.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 720px;
  background-color: rgb(198, 241, 241);
  position: relative;
}
.body {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  background-color: chartreuse;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.up.left {
  margin: auto 0;
  width: 50%;
  height: 35%;
  /* background-color: chocolate; */
  display: flex;
  flex-wrap: wrap;
}
.up.right {
  margin: auto 0;
  width: 45%;
  height: 35%;
  /* background-color: coral; */
  display: flex;
  flex-wrap: wrap;
}
.down.left {
  margin: auto 0;
  width: 50%;
  height: 40%;
  /* background-color: cornflowerblue; */
  display: flex;
  flex-wrap: wrap;
}
.down.right {
  margin: auto 0;
  width: 45%;
  height: 40%;
  /* background-color: cornsilk; */
  display: flex;
  flex-wrap: wrap;
}
.date {
  width: 20%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: monospace;
}
.date span:nth-child(1) {
  font-size: x-large;
  text-transform: uppercase;
}
.date span:nth-child(2) {
  font-size: xx-large;
  font-weight: bolder;
}
.content {
  width: 80%;
  height: 100%;
  background-color: white;
}
.up .date {
  background-color: rgb(241, 62, 62);
}
.down.left .date {
  background-color: rgb(5, 144, 5);
}
.down.right .date {
  background-color: cornflowerblue;
}
