.wrapper {
  margin: 0 auto;
  width: 80%;
  height: 360px;
  background-color: rgb(231, 148, 40);
  display: flex;
}
.about {
  margin: 0 auto;
  width: 23%;
  height: 100%;
}
.title {
  margin: 20px auto;
  width: 100%;
  height: 5%;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, monospace;
}
.title h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.text {
  width: 100%;
  height: 90%;
  font-family: monospace;
}
.text p {
  width: 100%;
  height: 100%;
  color: white;
  text-align: justify;
}
.plans {
  margin: 0 auto;
  width: 23%;
  height: 100%;
}
.get {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: cyan;
}
