.wrapper {
  margin: auto 0;
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.header.img img {
  width: 10%;
  height: 100%;
  margin-left: -15px;
}
.header.content {
  flex-wrap: wrap;
}
.header.content.p1 {
  font-family: monospace;
  margin: auto 0;
  font-size: 45px;
  /* justify-content: right; */
}
.header.content.p1 p {
  text-align: right;
  justify-items: right;
}
