.wrapper {
  margin: 0 auto;
  width: 99.5%;
  height: 2460px;
  background-image: url(/Assigment_FEE/image/wallpaper_hd_by_sinhvienit\ 89.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  position: absolute;
  top: 0;
}
.topbar {
  width: 99.5%;
  height: 7.5%;
  position: fixed;
  top: 0;
  background-color: rgb(83, 247, 68);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo {
  width: 4%;
  height: 100%;
  position: relative;
  top: 0%;
}
.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.navigation {
  width: 90%;
  height: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: monospace;
}
.gridform {
  margin: 6% auto;
  width: 80%;
  height: 60%;
  background-color: rgba(192, 230, 189, 0.2);
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 24% 24% 24% 24%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gridbox {
  width: 100%;
  height: 100%;
  background-color: rgba(192, 230, 189, 0.2);
}
.box {
  margin: auto;
  margin: auto;
  width: 99.5%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}
.b {
  width: 10%;
  height: 10%;
}

.b img {
  width: 100%;
  height: 100%;
  border-radius: 2em;
}
.footer {
  width: 99.5%;
  height: 3%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  background-color: rgba(78, 100, 76, 0.5);
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 0.5px;
  border-radius: 5em;
  color: aliceblue;
}
