.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 2160px;
  background-color: khaki;
}
.topbar {
  margin: 0 auto;
  width: 75%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}
.topbar.logo {
  margin: 0 auto;
  width: 20%;
  height: 100%;
}
.topbar.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 5px 5px;
}
.topbar.title {
  margin: 0 auto;
  width: 60%;
  height: 100%;
}
.topbar.title h1 {
  text-transform: uppercase;
}
.topbar.login {
  margin: 0 auto;
  width: 20%;
  height: 100%;
}
