.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 1280px;
  background-image: url(/WDB_Beginnerr_2/image/pic5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
